@import "../app.component";

.backDevice {
  background-color: #3f525c;
}

.frontDevice {
  background-color: #5c4b3f;

}

.commonDevice {
  border-right: #fff 1px solid;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  align-items: center;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: .5rem auto;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* adjust the width as needed */
}
